<!DOCTYPE html>

<html lang="en">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Lusitana&family=Pacifico&display=swap');
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>

    <body>
        <header>
            <a href="/"><div id="Logo"><span id="Logo0">G</span>ameTime</div></a>
            <div id="nav">
                <a href="/">
                    <div class="nav-opt">Tournaments</div>
                </a>
                <a href="/Organisation">
                    <div class="nav-opt">My Organisation</div>
                </a>

            </div>
        </header>
        
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div id="end"> 
                <div id="Logo-footer"><a href="/"><span id="Logo0">G</span>T</a></div>
                <div id="copyright">© Ashish Ajin Thomas -2022</div> 
            </div>
            <div id="links-box-footer">
                <div class="link-footer"><a href="/">API</a></div>
                <div class="link-footer"><a href="/">Source</a></div>
                <div class="link-footer"><a href="/">Github</a></div>
                <div class="link-footer"><a href="/">About</a></div>
            </div>
        </footer>
    </body>
</html>